* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: cornsilk;
  width: 70%;
  margin: auto;
  min-height: 100vh;
  padding: 4vmax 8vmax;
  box-sizing: border-box;
}

.container form {
  display: flex;
  flex-direction: column;
}

input, textarea, button {
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.294);
  border-radius: 5px;
  margin: 10px 0;
  outline: none;
}

button {
  border: none;
  cursor: pointer;
  color: white;
  background-color: crimson;
  
}

.task {
  display: flex;
  background-color: rgb(215, 209, 209);
  padding: 10px;
  border-radius: 5px;
  margin: 20px 0;
  align-items: center;
}

.task span {
  color: rgb(82, 79, 79);
}
.task div {
  width: 100%;
}

.task button {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}